<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Guruguru is a service that will take care of finding the best food for you">
    <meta name="keywords" content="guruguru, restaurant, good food, delicious">
    <title>Guruguru</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/css/uikit.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

    {{{ body }}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/js/uikit.min.js"></script>
</body>
</html>
