<div class="uk-grid" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">
    <div class="uk-width-medium-1-1">
        <div class="uk-vertical-align uk-text-center" style="background: url('img/mobile.jpg') 50% 0 no-repeat; height: 450px;">
            <div class="uk-vertical-align-middle uk-width-1-2 uk-contrast">
                <h1 class="uk-heading-large">Application</h1>
                <p class="uk-text-large">With our mobile application, you are just a click away from guruguru</p>
                <p><a class="uk-button uk-button-primary uk-button-large" href="/">Coming soon</a></p>
            </div>
        </div>
    </div>
</div>
<div class="uk-block uk-block-muted">
    <div class="uk-grid uk-container uk-container-center">
        <div class="uk-width-medium-1-2 uk-container-center">
            <div class="uk-text-center">
                <h2>Coming soon!</h2>
                <h4>We are working very hard to bring you the best experience when using our services</h4>
            </div>
            <div class="uk-grid">
                <div class="uk-width-small-1-2 uk-text-center">
                    <img class="uk-border-circle uk-container-center uk-margin-top" src="img/playstore.png" width="100" height="100" alt="Border circle">
                    <h2 class="uk-h3">Android</h2>
                    <p>Coming soon</p>
                </div>
                <div class="uk-width-small-1-2 uk-text-center">
                    <img class="uk-border-circle uk-container-center uk-margin-top" src="img/appstore.png" width="100" height="100" alt="Border circle">
                    <h2 class="uk-h3">iOS</h2>
                    <p>Coming soon</p>
                </div>
            </div>
        </div>
    </div>
</div>
