<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1 uk-text-center">
        <div class="uk-container-center">
            <h2>Why Guruguru?</h2>
            <h4>
                There are so many benifits using our services, and we promise that once you tried it you will never leave without it
            </h4>
        </div>
        <div class="uk-grid">
            <div class="uk-width-medium-1-3 uk-text-center">
                <img class="uk-border-circle uk-container-center" src="https://www.savantcare.com/wp-content/uploads/2015/04/Icon-Behavior-clr.png" width="100" height="100" alt="Border circle">
                <h2 class="uk-h3">Eating Behaviour</h2>
                <p>
                    We will learn about your eating behaviour and provide you with suggest
                    the best food and restaurant for you
                </p>
            </div>

            <div class="uk-width-medium-1-3 uk-text-center">
                <img class="uk-border-circle uk-container-center" src="http://connectireland.com/templates/ci/images/reward_icon.png" width="100" height="100" alt="Border circle">
                <h2 class="uk-h3">Reward</h2>
                <p>Check in every restaurant you eat, to get additional rewards from the restaurant</p>
            </div>

            <div class="uk-width-medium-1-3 uk-text-center">
                <img class="uk-border-circle uk-container-center" src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/analytics-icon.png" width="100" height="100" alt="Border circle">
                <h2 class="uk-h3">Analytics</h2>
                <p>We will learn about your eating behaviour whenever you order food using our services</p>
            </div>
        </div>
    </div>
</div>
