<div class="uk-block uk-block-secondary">
    <div class="uk-container uk-container-center">
        <div class="uk-text-center uk-contrast">
            <div class="uk-grid">
                <div class="uk-width-medium-1-1">
                    <p>
                        Timx
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
